/*body {
    counter-reset: step;
    color: #777;
    font-size: 13px;
}
#login-form-wrapper {
   
    background-color: #f4f4f4;
    min-height: 700px;
}
.container, .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.row-centered {
    text-align: center;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
#login-form-wrapper .col-centered {
    
    margin: 50px 0 18px;
    background-color: #fff;
    border-radius: 4px;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
#login-form-wrapper h2 {
    border-bottom: 1px solid #eee;
    padding: 30px;
    color: #222;
    font-size: 19px;
    font-weight: 400;
    margin: 0;
}
h2, h4, h5 {
    color: #384047;
}
h2 {
    padding-bottom: 60px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.h2, h2 {
    font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
@media (min-width: 1024px)
.form_div {
    width: 381px;
}
.form_div {
    display: inline-block;
    vertical-align: top;
    color: #333;
    padding: 0 30px;
    margin-top: 42px;
    margin-bottom: 42px;
    border-right: 1px solid #ccc;
    position: relative;
}
.form_div_register:after, .form_div:after {
    content: "OR";
    width: 23px;
    height: 23px;
    font-size: 12px;
    padding: 3px 2px;
    background-color: #fafafa;
    position: absolute;
    right: -9px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #A2A1A1;
}
form {
    position: relative;
}
.error_msg {
    background: transparent;
    color: red;
    margin-bottom: 10px;
}
.hide {
    display: none!important;
}
.form_div label {
    text-transform: none;
    margin: 20px 0;
}
.text1, .text2 {
    font-size: 14px;
    font-weight: 200;
}
.text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 14px;
    color: #4d575e;
    font-weight: 400;
}
label {
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
dt, kbd kbd, label {
    font-weight: 700;
}
#login-form-wrapper input {
    width: 100%;
}
.social_media_div {
    display: inline-block;
    margin-left: 26px;
    margin-top: 15%;
    padding: 0 30px 15px 0;
    width: 290px;
}
.social_media_div .btn {
    padding: 0 32px;
    margin-right: 0;
}
.btn-default, .btn-info {
    position: relative;
    top: 0;
    line-height: 34px;
    padding: 0 18px;
    letter-spacing: 1px;
    margin-right: 12px;
    box-shadow: 0 1px #2971A5;
    -webkit-transition: none;
    transition: none;
}
.btn-primary, .btn-default, .btn-info, .btn-download, .btn-skip {
    background-color: #1f85cd;
    border-color: #1f85cd;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0 12px;
    line-height: 24px;
    border-radius: 3px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn, .btn-group, .btn-group-vertical, .caret, .checkbox-inline, .radio-inline, img {
    vertical-align: middle;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
p {
    font-size: 16px;
    color: #777777;
    line-height: 1.625;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}*/