<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/fontawesome.min.css">
	<link rel="stylesheet" href="css/training.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title> digital marketting | train n place</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
   	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">

     <style>
        .course_module
       {
       	padding-bottom: 30px;
        padding: 100px; 
        background-image:url('images/my.png') ;
        background-size: 15%;

    -animation: animatedBackground 100s linear infinite;
    -moz-animation: animatedBackground 100s linear infinite;
    -webkit-animation: animatedBackground 100s linear infinite;
    -ms-animation: animatedBackground 100s linear infinite;
    -o-animation: animatedBackground 100s linear infinite;
    }
    @keyframes animatedBackground 
    {
    0% { background-position: 0 0; }
    30%{ background-position: -300px 0; }
	}
		
		 @media (max-width: 991px) {
      	.navbar .dropdown-menu
      	{
      		margin-left: 0px!important;
      		text-align: center !important;
      	}
      	
      }
        #op .container-fluid:hover
                       {
						  
						  box-shadow:2px 2px 10px #91902a;
						  border-radius: 5px;
						  transition: 0.9s;
						  border: 1px;
						}
	    


     </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
		

			<!-- navbar start -->
			<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light " >
        <a href="index.html"><img src="images/wer.png" style=" width: 130px;"></a>
  <a class="navbar-brand" href="#"><!-- Navbar --></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html"><span>Home</span><span class="sr-only text-dark">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="About Us.html"><span>About Us</span><span class="sr-only text-dark">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>Training</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="web designing.html">Web Designing </a>
          <a class="dropdown-item" href="web development.html">Web Development </a>
          <a class="dropdown-item" href="Graphic Designing.html">Graphic Designing </a>
          <a class="dropdown-item" href="Android.html">Android Development </a>
          <a class="dropdown-item" href="digital_marketing.html">Digital Marketing </a>
          <a class="dropdown-item" href="IOS.html">IOS Development</a>

          
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      <li>

     <li class="nav-item ">
        <a class="nav-link text-white" style="background-color: #fe6d00;  font-size: 14px; border-color: #fe6d00; border-radius: 5px; margin-left: 10px; margin-right: 10px;" href="login.html"  role="button"  aria-expanded="false">
          <span><b>Login</b></span>
        </a>
            
      </li>


         <!-- <a class="nav-link text-white" href="login.html" style="background-color: #fe6d00; font-size: 14px; margin-right: 10%; padding: 6px 30px 10px 20px;" ><b>Login</b></a> -->

     <br>
      
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle  text-white" style="background-color: #fe6d00;  font-size: 14px; border-color: #fe6d00; border-radius: 5px; " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span><b>Employee Zone</b></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: auto !important;">

        <a class="dropdown-item" href="login.html" >Login</a>
        <a class="dropdown-item" href="Register.html" >Register </a>

          
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <!-- <button class="btn bg-warning my-2 my-md-0" type="submit">LOGIN</button>
      
      <button class="btn bg-warning my-2 my-md-0" type="submit">REGISTER</button> -->
    </form>
  </div>
</nav>
			    <!-- navbar ends -->




				    <section style="background:url('images/pexels-photo-2599270.jpg');background-size:cover">
		    	<div class="container-fluid ">
		    		<div class="row">
		    			<div class="col-md-7">
							<h3 class="head3" style="color: white; margin-top: 100px; margin-left: 50px;">Digital Marketing s</h3>
							<h6 style="color: white; margin-left: 50px;">Learn how to create a website from scratch</h6>
							<hr align="left" width="75%" color="white" style="margin-left: 50px;">
							<p style="color: white; margin-left: 50px;"><b>Duration: 6 Weeks | Certified Training| Enrolled Students: 24,725</b></p>

							<img src="images/Web Development_Training_1300.png" height="60%; ">
		    			</div>		
						<div class="col-md-5">
							<div class="container" style=" background-color: #f1f1f1; height: 560px; margin-top: 100px; width: 400px;">
								<label class="para1">E-mail</label>
								<input type="email" style="height: 30px; margin-top: -10px;" class="form-control input-sm ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern" ng-model="user.email" name="email" ng-blur="verifyEmail()" ng-pattern="/^(([^<>()[\]\\.,;:\s@\']+(\.[^<>()[\]\\.,;:\s@\']+)*)|(\'.+\'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/" placeholder="john@example.com" required=""; s>
								
								<label  style="para1">Password:</label>
								<input type="password" class="form-control input-sm password-placeholder ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-minlength" style="height: 30px; margin-top: -5px;" ng-model="user.password" name="password" placeholder="Must be at least 6 characters" ng-minlength="6" title="This field is required" required="">

								<!-- <p class="para1" style="margin-top: -5px;">First Name</p> -->
								<div style="flex-direction: row; display: flex">
						            <div style="flex:1">
						                <div class="form-group" ng-class="{true: 'has-error', false: ''}[signupForm2.firstName.$invalid &amp;&amp; signupForm2.firstName.$touched]">
						                    <label for="firstName" class="control-label">First Name:</label>

						                    <input type="test"  ng-pattern="/^[a-zA-Z ]+$/" class="form-control input-sm ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern" ng-model="user.firstName"  style="height: 30px; margin-top: -5px;" placeholder="john" required="">
						                </div>
						            </div>&nbsp;&nbsp;
						            <div style="flex:1">
						                <div class="form-group">
						                    <label for="lastName" class="control-label">Last Name:</label>

						                    <input type="text" ng-pattern="/^[a-zA-Z ]+$/"  class="form-control " style="height: 30px; margin-top: -5px;" placeholder="Doe"  required="">
						                </div>
            						</div>
        						</div>

							    <div class="form-group" style="margin-top: -10px;">
							        <label  class="control-label">Mobile Number:</label>
							        <div class="help-block " >
							        </div>
							        <div class="form-row-layout" style="flex-direction: row; display: flex; padding-top: -10px;">
							            <div class="form-group" style="width:30%;">
							                <input type="text" class="form-control "   name="countryCode" placeholder="+91" style="height: 30px; width: 95% ">
							                </div>
							            
							            <div class="form-group" style="width: 100%;">
							                <input type="text" class="form-control "   name="mobileNumber"placeholder="9999999999" style="height: 30px; ">
							            </div>
							        </div>
							    </div>


								 <div class="form-group" style="margin-top: -20px;">
						            <label for="countryCode" class="control-label" style=" margin-top: -10px; ">Batch</label>
						            <select class="form-control" style="height: 30px; font-size: 13px;">
						                <option >Choose batch</option>
						                <option >Starting 15th Jul, 2019</option>
						                <option >Starting 1st Aug, 2019</option>
						                <option >Starting 15th Aug, 2019</option>
						            </select>
						        </div>

						        <div class="form-group">
						        	<label>I want to learn Digital Marketing to:</label>
						        	<select class="form-control" style="height: 30px; font-size:13px;" >
						                <option value="" selected="" hidden="">Choose your objective</option>
						                <option>Gain a new skill</option>
						                <option>Build my own project</option>
						                <option>Get a certificate</option>
						            </select>
						        </div>
								<i class="fas fa-rupee-sign"></i><del><b>4499/-</b></del><p style="color: orange; margin-top: -23px; margin-left: 65px;"><b> 1349/-</b></p><p style="color: black;  margin-top: -39px; margin-left: 130px;">Valid till 15th Jul</p>

								<button type="submit"  class="btn text-white" style="height: 30px; font-size: 13px; width: 100%; background-color: #FE6D00;"><b>Sign up</b></button>
							</div>
						</div>		
		    		</div>
			    </div>
		    </section>

		    <section style="padding-bottom: 5%; padding-top: 5%;">
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-12 text-center">
		    				<h3 style="margin-bottom: 2%;">About Digital Marketing</h3>
		    				<p class="para2">RAPLIOT Technologies is one of the leading Digital marketing company in Noida, Delhi NCR. We offer Digital Marketing certification course in this course we have covered Search Engine Optimization (SEO), Search Engine Marketing (SEM), AdWords (PPC), Social media marketing (SMM), Social Media Optimization (SMO), Lead Generation, Email Marketing, content marketing.  <br><br> 
							Our Digital marketing Experts will train you each and every Digital marketing Concept from scratch. If you are looking for a digital marketing certification course, we are the best digital marketing institute in Noida, Delhi NCR</p>
		    				<button type="button" class="btn_4 btn-primary ">View More</button>
		    			</div>
		    		</div>
		    	</div>
		    </section>

		    <section style="background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('images/why_us.jpg');  background-size: cover; background-attachment: fixed;">
                     <div class="container">
                           <div class="row text-center">
                                <div class="col-md-12">
                                    <img src="images/rapliot-web.png" width="100%">
                       		    </div>
                     		</div>
					 </div>
           </section>
			

			<section style="background:#15224a;" id="abc">
				    <div class="container-fluid course_module" style="padding-bottom: 100px;">
				        <div class="row pricing_head_row" style="padding:20px 0 0 0;background: white">
							<div class="col-md-12">
				              	<div class="dm_module">
				               		<h3 class="pricing_head text-center" style="font-size:30px;color:#15224a">Digital Marketing Course Modules</h3>
				             	</div>
				            </div>
						</div>
				     <div class="row dm_course_box" style="background: white">
						<div class="col-md-4 course_detail col-sm-4 col-xs-12 course_detail_div text-center" style="border-right: 1px solid #e8e8e8;padding:50px 0;">
				  				<h2 class="course_detail" style="font-size: 40px; ">3 Months</h2>
								<h3>Regular</h3>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12  course_detail_div text-center" style="border-right: 1px solid #e8e8e8;padding: 50px 0;">
				  				<h2 class="course_detail" style="font-size: 40px; ">21+</h2>
								<h3>Total Modules</h3>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12  course_detail_div text-center" style="border-right: 1px solid #e8e8e8;padding: 50px 0;">
								  <h2 class="course_detail" style="font-size: 40px; ">4 Months</h2>
								  <h3>Weekend</h3>
						</div>
                  <div class="container">
					   <div class="row">
						   	<div class="col-md-12" style="padding: 2% 0% 2% 6%; ">
						   		<h4 style="font-weight: 400;">Your First Class is for Fundamental of Digital Marketing Follow by below-mentioned classes.</h4>
						   	</div>
					   </div>
					   <div class="row">
					    <div class="col-md-6">
					   		<ul>
					   			<li>Search Engine Optimization (SEO)</li>
					   			<li>Search Engine Marketing (SEM)</li>
					   			<li>Social Media Optimization (SMO)</li>
					   			<li>Integrated Digital Marketing Strategy</li>
					   			<li>Facebook Marketing</li>
					   			<li>Instagram Marketing</li>
					   			<li>LinkedIn Marketing</li>
					   			<li>Lead Generation</li>
					   			<li>Video Marketing</li>
					   			<li>Online Display Advertising</li>
					   			<li>Remarketing</li>
					   		</ul>
					   	</div>
					   	  <div class="col-md-6">
					   		<ul>
					   			<li>Search Engine Optimization (SEO)</li>
					   			<li>Search Engine Marketing (SEM)</li>
					   			<li>Social Media Optimization (SMO)</li>
					   			<li>Integrated Digital Marketing Strategy</li>
					   			<li>Facebook Marketing</li>
					   			<li>Instagram Marketing</li>
					   			<li>LinkedIn Marketing</li>
					   			<li>Lead Generation</li>
					   			<li>Video Marketing</li>
					   			<li>Online Display Advertising</li>
					   			<li>Remarketing</li>
					   		</ul>
					   	</div>
					   </div>
						
					 
				 </div>

					</div>
				
				</div>
			</section>

			<!-- <section class="certificate_sec" style="padding:50px;background:#eeeeee">
               <div class="container">
             			<div class="row">
			                        <div class="col-md-8">
										
										<h2 class=" fadeInRight" style="text-transform:uppercase;color:#16234a">One Course and 4 certifications on successful completion</h2>
			                  			
			                  			<h3 class="head56" style="color:#16234a">1: Digital&nbsp;Marketing&nbsp;Professional Certification</h3>
			                  			
			                  			<h3  class="head56"style="color:#16234a">2: Google Adword Fundamental Certification</h3>
			              				
			              				<h3  class="head56"style="color:#16234a">3: Google Analytics Certification</h3>
			                   			
			                   			<h3  class="head56"style="color:#16234a">4: Get Additional 3 Months Internship Certification   </h3>
			                        </div>  
			                        <div class="col-md-4">
			                              <img src="images/certificate.jpg" width="100%">
			                        </div>
            			</div>
                </div>  
          	</section> -->


          	<section style="padding-top: 8%;" id="op">
		    	<div class="container">
		    		<div class="row text-md-center" style="margin-bottom: 50px;">
		    			<div class="col-md-12" >
		    				<h3>What do you get</h3>
		    			</div>
		    		</div>
		    		<div class="row" >
		    			<div class="col-md-6" style="margin-bottom: 40px;" >
		    				<div class="container-fluid" style="border:1px solid rgba(201, 76, 76, 0.3); ">
			    				<div class="row">
			    					<div class="col-md-2" >
			    						<img src="images/svg/Web Development Placement Training.svg">
			    					</div>
			    					<div class="col-md-10">
			    						<p style="text-align: left; font-size: 20px;">Placement Training</p>
			    						<p style="font-size: 14px;">Get complimentary access to placement training to ace your internship/job hunt.</p>
			    					</div>
			    				</div>
		    				</div>
		    			</div>

		    			<div class="col-md-6" style="margin-bottom: 40px;">
		    				<div class="container-fluid" style="border:1px solid  rgba(201, 76, 76, 0.3);">
			    				<div class="row">
			    					<div class="col-md-2" >
			    						<img src="images/svg/Web Development Industrial Project.svg">
			    					</div>
			    					<div class="col-md-10">
			    						<p style="text-align: left; font-size: 20px;">Industrial Project</p>
			    						<p style="font-size: 14px;">Build an e-commerce website from scratch with the help of html, css, and bootstrap.</p>
			    					</div>
			    				</div>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="row" >
		    			<div class="col-md-6" style="margin-bottom: 50px;" >
		    				<div class="container-fluid" style="border:1px solid rgba(201, 76, 76, 0.3);">
			    				<div class="row">
			    					<div class="col-md-2" >
			    						<img src="images/svg/Web Development Hands On Exercises.svg">
			    					</div>
			    					<div class="col-md-10">
			    						<p style="text-align: left; font-size: 20px;">Hands On Exercises</p>
			    						<p style="font-size: 14px;">Your training is packed with assignments, assessment tests, code challenges, quizzes and exercises</p>
			    					</div>
			    				</div>
		    				</div>
		    			</div>

		    			<div class="col-md-6"  style="margin-bottom: 50px;">
		    				<div class="container-fluid" style="border:1px solid rgba(201, 76, 76, 0.3);">
			    				<div class="row">
			    					<div class="col-md-2" >
			    						<img src="images/svg/Web Development Certified Training.svg">
			    					</div>
			    					<div class="col-md-10">
			    						<p style="text-align: left; font-size: 20px;">Certified Training</p>
			    						<p style="font-size: 14px;">At the end of your training program you will be awarded with certificate of completion.</p>
			    					</div>
			    				</div>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-md-3" style="margin-bottom: 50px;"></div>
		    			<div class="col-md-6" style="margin-bottom: 50px;" >
		    				<div class="container-fluid" style="border:1px solid rgba(201, 76, 76, 0.3); ">
			    				<div class="row">
			    					<div class="col-md-2" >
			    						<img src="images/svg/Web Development Forum support.svg">
			    					</div>
			    					<div class="col-md-10">
			    						<p style="text-align: left; font-size: 20px;">Forum support</p>
			    						<p style="font-size: 14px;">Post your queries on forum and get it answered within 24 hours.</p>
			    					</div>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="col-md-3" style="margin-bottom: 50px;"></div>
		    		</div>
		    		</div>
		    	
		    </section>



          	<section>
				    <div class="container">
				        <div class="row" style="padding: 30px;">
				          <div class="col-md-12" style="padding: 50px;">
				               <h1 class="text-center  "><strong>Batches Options</strong> We Have</h1>
				               <div class="title-line  "></div>
							   <h4 class="text-center" style="display: none">We Have Two Options For You to Join Us.</h4>
				           </div>
							<div class="col-md-2">
							</div>

				           <div class="col-md-4 batch_detail  fadeInLeft" style="padding-left: 10px;">
				            <div style="border:2px solid #e1e1e1;padding: 39px" class="batch_box text-center">
				              <i class="fas fa-clock" style="font-size:50px;padding:30px;color:#FE6D00;"></i>
								<p class="text-center">Regular Batches</p>
								<p style="color:black;font-family:roboto">If you are Free and can come Regularly, you can Register for Regular Batch</p>
				            </div>
				           </div>
						 	<div class="col-md-4 batch_detail fadeInLeft" style="padding-left: 10px;">
				            <div style="border:2px solid #e1e1e1;padding: 39px" class="batch_box text-center">
				              <i class="far fa-gem" style="font-size:50px;padding:30px;color:#FE6D00;"></i>


				              <p class="text-center">Weekend Batches</p>


				              <p style="color:black;font-family:roboto">If you do Job and have only Time on Weekend. You can Enrol for this Batch.</p>
				            </div>
				           </div>          
						</div>
				    </div>
			</section>


			 


			<!-- <section>

			<div id="contact">
            <div class="contact fullscreen parallax" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) 50% -96.8183px / 1019.49px 680px fixed, url('images/book.jpg'); background-attachment: fixed; background-size: cover;" data-img-width="2000" data-img-height="1334" data-diff="100">

                <div class="overlay">
                    <div class="container">

                                   <div class="row contact-row">
  
                                                    <div class="col-md-5">

                            <div class="signup-header  fadeInUp" style="margin:0px !important; margin-bottom: 50px !important;">
                                <h3 class="form-title text-center text-white"><b>GET STARTED</b></h3>
                                <form action="../code.php?flag=7&amp;&amp;page=index.php" method="post">
                       
      
       <div class="form-group">
          <input class="form-control input-lg" placeholder="Your name" type="text" name="name" value="" tabindex="1" autofocus="" required="">
              <span class="error"></span>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" placeholder="Your Email Address" type="text" name="email" value="" tabindex="2" required="">
              <span class="error"></span>
        </div>
         <div class="form-group">
          <input class="form-control input-lg" placeholder="Your Phone Number" type="text" name="subject" value="" tabindex="3" required="">
              <span class="error"></span>
        </div>
<input type="hidden" value="Digital Marketing Training" name="requirement">       
        <div class="form-group last">
 <input type="submit" id="contact-submit" class="btn btn-block btn-lg text-white" value="Submit" style="background-color: #FE6D00;">
        </div>
          <div class="success"></div>
      </form>
                            </div>        

                        </div>
                        <div class="col-md-2">
                        </div>
                            
                            <div class="col-md-5 contact-left  text-white">

                                <h2 style="font-size:50px !important; color: white;"><span class="highlight">Get</span> in touch</h2>
                                <ul class="ul-address">
                                    <li style="font-size:20px;font-weight:bold;"><i class="fas fa-map-marker-alt" style="font-size:15;color:#91902a;"></i><i class="pe-7s-map-marker"></i> C-213 Noida Sector 63,
                                     Delhi/Ncr-201301  
                                    </li>
                                    <br>
                                    <li style="font-size:20px;font-weight:bold"><i class="fas fa-mobile" style="font-size:12;color:#91902a"></i> <i class="pe-7s-phone"></i>+91-9911400966
                                    </li>
                                    <br>
                                    <li style="font-size:20px;font-weight:bold"><i class="pe-7s-mail"></i><a href="mailto:admin@thedigitalschool.in"><i class="far fa-envelope" style="font-size:14;color:#91902a"></i>&nbsp;&nbsp;&nbsp; info@rapliot.com</a></li>
                                </ul>	

                            </div>
                                                    

                           
                         
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section> -->


		










			
	
  <!-- <section>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-6">
  				<img src="images/imarketing.jpg"  style="width: 100%; margin-top: 20%;;">
  			</div>
  			<div class="col-md-6">
  				<h3 style="margin-top: 20%; margin-bottom: 5%;">Best Digital Marketing Company in Noida, Delhi/NCR</h3>

  				<p style="word-spacing: 5px; text-align: justify; color: #15224A;">RAPLIOT Technologies provides a complete solution for customers with digital marketing needs, ensuring the delivery of the best solution with full support. By focusing on the needs of the business, we provide the best packages that not only meet your needs, but are also profitable. As this is the era of competition in the market, we provide many digital marketing solutions that present it to the market in a more impressive way. Your visibility helps attract more customers, which results in the growth of your business.<br> <br>

				RAPLIOT Technologies is a leading <b>digital marketing company in Noida,</b> India, we have conducted numerous online marketing campaigns for various industries. We develop strategies for our clients and work on them. Our inbound marketing brings business of all kinds, more online revenue and qualified leads. At RAPLIOT Technologies, your success is our victory.</p>
  			</div>
  		</div>
  	</div>
  </section> -->

  <!-- <section style="background:#1D1C1A;">
  	<div class="container-fluid" style="background: url('images/my.png'); background-repeat: all; background-size: 12%; padding-top: 5%; background-attachment: fixed;">
  		<div class="row">
  			<div ></div>
  			<div style="background-color: white;  margin:3% 20% 7% 20%;">
  					<h3 class="text-center" style="margin: 5% 0% 3% 0%; ">What Makes Us Different</h3>
  					<p style="margin: 5% ; line-height: 200%;">At RAPLIOT Technologies, we maintain our standardization compared to other digital marketing companies. For our customers, we do market research and analyze their customers. We work on strategies to find the right customers for our business, which makes your business unique, by providing real traffic and increasing the number of potential customers on your company's website. 
					<br><br>
					We firmly believe in customer satisfaction. We work to provide the best results to our customers with the desired results. We provide the best solutions for business growth by meeting your expectations by providing customized solutions. We have satisfied our clients ranging from small businesses to large global companies. Customer satisfaction creates a relationship between the customer and the company for which RAPLIOT Technologies stands out for its excellence.</p>
  			</div>
  			<div></div>
  		</div>
  	</div>
  </section> -->
  

 <!--  <section style="padding-bottom: 10%; margin-bottom: 3%;">
  	<div class="container-fluid"> -->
  		
		<!-- start -->
			<!-- <div class="col-lg-12">
					<div class="container">
					<h3 class="content__h3 mt-5">Our Areas of Expertise</h3>
					<div class="featured-boxes mt-3">

					<div class="row">

					 <div class="col-md-4 col-sm-6">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fab fa-searchengin"></i></span>
					                </div>
					                <div class="service-content">
					                    <h3 class="title">SEO Services</h3>
					             <p class="description">​Search engines are the most effective way to market your website to potential customers. Search Engine
					Optimization or SEO is a process that analyzes the algorithms of search engines.

					</p>
					<a href="seo-services-company.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div>
					                 <div class="col-md-4 col-sm-6">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fas fa-mobile-alt"></i></span>
					                </div>
					                <div class="service-content">
					                    <h3 class="title">Mobile App Marketing</h3>
					             <p class="description">Get your application on top of your target keywords in Play Store and Apple
					Store. Improve the visibility of the application and multiply the numbers of
					download</p>
					             <a href="mobile-app-marketing-services-company.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div>
					        
					         <div class="col-md-4 col-sm-6">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fab fa-youtube"></i></span>
					                </div>
					                <div class="service-content">
					                    <h3 class="title">Youtube Marketing</h3>
					             <p class="description">​Get ready for a dramatic increase in the number of organic video views, participation statistics and
					subscriptions for your YouTube channel with our experienced SEO video services.
					</p><a href="youtube-marketing-services-company.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div>
					         <div class="col-md-4 col-sm-6 mt-3">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fas fa-hand-holding-usd"></i></span>
					                </div>
					                <div class="service-content" style="padding-bottom: 15%;">
					                    <h3 class="title">PPC</h3>
					             <p class="description">​With help of PPC you will get targeted traffic that help you to increase your Lead.</p>
					<a href="ppc-services-company.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div>
					        
					         <div class="col-md-4 col-sm-6 mt-3">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fab fa-facebook"></i></span>
					                </div>
					                <div class="service-content">
					                    <h3 class="title">Social Media Marketing</h3>
					             <p class="description">​Increase brand awareness, engagement and traffic with our social media marketing services<br><br>

					</p><a href="social-media-marketing-services-company.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div>
					        
					         <div class="col-md-4 col-sm-6 mt-3">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fas fa-object-group"></i></span>
					                </div>
					                <div class="service-content">
					                    <h3 class="title">Creatives &amp; Design</h3>
					             <p class="description">We offer a very innovative and creative design for the Web and mobile. From user interfaces to
					complete campaigns,

					</p><a href="creative-design-services-company.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div> -->
					        

					        
					 <!--         <div class="col-md-4 col-sm-6 mt-3">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fa fa-connectdevelop"></i></span>
					                </div>
					                <div class="service-content">
					                    <h3 class="title">Usability	</h3>
					             <p class="description">A clients gets positive experience of any product only when the product has great usability and so we strive to make the product usable to the user.</p>
					             <a href="im-7.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div>
					         <div class="col-md-4 col-sm-6 mt-3">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fab fa-accessible-icon"></i></span>
					                </div>
					                <div class="service-content">
					                    <h3 class="title">Accessibility</h3>
					             <p class="description">Through our findings of user research, we analyze how easy it is for the user to understand the product, use and access it. This.</p>
					             <a href="im-8.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div>
					        
					         <div class="col-md-4 col-sm-6 mt-3">
					            <div class="serviceBox1">
					                <div class="service-icon">
					                    <span><i class="fas fa-desktop"></i></span>
					                </div>
					                <div class="service-content">
					                    <h3 class="title">Interaction Design</h3>
					             <p class="description">Here we integrate the user’s needs into the design and delineate the pattern of the design as per users’ needs.

					</p><a href="im-9.php" class="read-more fa fa-plus"></a>
					                </div>
					            </div>
					        </div> -->
					        



					<!-- </div>
					</div>
					</div>
					</div> -->



		<!-- end -->
		<!-- </div>
  </section> -->

  <!-- <section>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
  				<h3 class="text-center">DO YOU WANT TO START A PROJECT WITH US?</h3>
  			</div>
  		</div>
  		<div class="row">
  			
  				<div class="col-md-6">
  					<input type="text" name="contact__name" placeholder="Your Name" class="form-control contact__input-text" id="contact__name" aria-required="true" aria-invalid="false" style="padding-left:10px;" required="">
  				</div>
  				<div class="col-md-6">
  					<input type="text" name="contact__name" placeholder="Last Name" class="form-control contact__input-text" id="contact__name" aria-required="true" aria-invalid="false" style="padding-left:10px;" required="">
  				</div>
  				<div class="col-md-6">
  					<input type="text" name="contact__name" placeholder="Contact" class="form-control contact__input-text" id="contact__name" aria-required="true" aria-invalid="false" style="padding-left:10px;" required="">
  				</div>
  				<div class="col-md-6">
  					<input type="text" name="contact__name" placeholder="Requirement" class="form-control contact__input-text" id="contact__name" aria-required="true" aria-invalid="false" style="padding-left:10px;" required="">
  				</div>
  				<button class="hire__button hire__button--transparent btn btn-primary mt-0">Get a quote</button>
  			
  		</div>
  	</div>
  </section>
 -->
   









<!-- #footer area end -->
      <footer id="footer" class="wrap-bg-secondary">
    <div class="footer-top">
        <!-- .container -->
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6"><!-- footer widget -->
                    <div class="f-widget-title">
                        <h4 style="color: white; " >Train n Place</h4>
                    </div>
                    <div class="footer-text">
                        <p style="color: white;">Sed ut perspiciatis unde om is nerror sit voluptatem accustium dolorem tium totam rem aperam
                            eaque ipsa quae.
                        </p>
                    </div>
                    <div class="icon-round-white footer-social mt-25">
                        <a href="#" title="Facebook"><i class="fab fa-facebook" style="color: white;"></i></a>
                        <a href="#" title="Twitter"><i class="fab fa-twitter" style="color: white;"></i></a>
                        <a href="#" title="Instagram"><i class="fab fa-instagram" style="color: white;"></i></a>
                        <a href="#" title="Google+"><i class="fab fa-google-plus" style="color: white;"></i></a>
                    </div>
                </div><!-- footer widget -->
                <div class="col-xl-2 offset-xl-1 col-lg-2 col-sm-6"><!-- footer widget -->
                    <div class="f-widget-title">
                        <h4 style="color: white; ">Quick Links</h4>
                    </div>
                    <div class="f-widget-link">
                        <ul>
                            <!-- Menu Link -->
                            <li><a href="#header" style="color: white;">Home</a></li>
                            <li><a href="#features"  style="color: white;">Features</a></li>
                            <li><a href="#screenshots"  style="color: white;">Screenshots</a></li>
                            <li><a href="#pricing"  style="color: white;">Pricing</a></li>
                            <li><a href="#download"  style="color: white;">Download</a></li>
                            <li><a href="#blog"  style="color: white;">Blog</a></li>
                            <li><a href="#contact"  style="color: white;">Contact</a></li>
                        </ul>
                    </div>
                </div><!-- footer widget -->
                <div class="col-xl-2 offset-xl-1 col-lg-3 col-sm-6"><!-- footer widget -->
                    <div class="f-widget-title">
                        <h4 style="color: white; ">About</h4>
                    </div>
                    <div class="f-widget-link">
                        <ul>
                            <!-- Menu Link -->
                            <li><a href="#header"  style="color: white;">Home</a></li>
                            <li><a href="#features"  style="color: white;">Features</a></li>
                            <li><a href="#screenshots"  style="color: white;">Screenshots</a></li>
                            <li><a href="#pricing"  style="color: white;">Pricing</a></li>
                            <li><a href="#download"  style="color: white;">Download</a></li>
                            <li><a href="#blog"  style="color: white;">Blog</a></li>
                            <li><a href="#contact"  style="color: white;">Contact</a></li>
                        </ul>
                    </div>
                </div><!-- footer widget -->
                <div class="col-xl-3 col-lg-3 col-sm-6"><!-- footer widget -->
                    <div class="f-widget-title">
                        <h4 style="color: white; ">Contact us</h4>
                    </div>
                    <div class="sigle-address">
                        <div class="address-icon">
                            <i class="fas fa-home" style="color: white;"></i>
                        </div>
                        <p style="color: white;">Sector 63, Noida 
                        </p>
                    </div>
                    <div class="sigle-address">
                        <div class="address-icon">
                            <i class="far fa-envelope-open" style="color: white;"></i>
                        </div>
                        <p style="color: white;">support@gmail.com</p>
                    </div>
                    <div class="sigle-address">
                        <div class="address-icon">
                            <i class="fas fa-headphones" style="color: white;"></i>
                        </div>
                        <p style="color: white;">+9999999999</p>
                    </div>
                </div><!-- footer widget -->
            </div>
            <!-- to top -->
            <div class="cd-top"><i class="fas fa-level-up-alt"></i></div>
        </div>
    </div>
    <!-- .container end -->

    <!-- #footer bottom start -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright text-center">
                    <p style="color: white;">©2019 Rapliot. All Rights Reserved. Designed By <a href="#" >Rapliot</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- to top -->
        <div class="cd-top">Top</div>

    </div>
    <!-- #footer bottom end -->
</footer>


<!-- #footer area end -->

    <!-- JavaScript File -->
    <!-- jQuery -->
    <script src='js/jquery-3.4.1.min.js'></script>
    <!-- Main -->
    <script src='js/main.js'></script>
    <!-- Bootstrap -->
    <script src='js/bootstrap.min.js'></script>
    <!-- Slick -->
    <script src='js/slick.min.js'></script>
    <!-- Fancybox -->
    <script src='js/jquery.fancybox.pack.js'></script>
    <!-- Magnific Popup core JS file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Waypoints -->
    <script src='js/waypoints.min.js'></script>
    <!-- Counterup -->
    <script src='js/jquery.counterup.min.js'></script>

</body>
</html>